html,
body {
  /* Center and scale the image nicely */
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.app {
  background: url("./assets/img/secret.jpg") no-repeat center center fixed;
}

.signup {
  background: url("./assets/img/trianglifymixed.png") no-repeat center center fixed;
}

.signin {
  background: url("./assets/img/trianglifymixed.png") no-repeat center center fixed;
}

.form__register__login {
  height: 95vh;
  padding: 1em;
}

.sidepanel {
  width: 270px !important;

}
