html,
body,
.app {
  background-image: url("./assets/img/art-art-materials-bright-743986.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form__register__login {
  height: 95vh;
  padding: 1em;
}

.sidepanel {
  width: 270px !important;

}
